<div class="card shadow-sm">
  <% if (product.image1) { %>
  <img src="/image/<%= product.id %>/image1" class="card-img-top object-fit-cover <%= imgStyle %>" />
  <% } else { %>
  <rect fill="#55595c" width="100%" height="100%" />
  <% } %>
  <div class="card-body">

    <div class="d-flex justify-content-between align-items-center mb-2 <%= titleStyle %>">
      <span class="text-truncate me-2"><%= product.name %></span>
      <% if (locals.isSoldView && isSoldView) { %>
      <span class="badge bg-danger ms-2 flex-shrink-0">SOLD</span>
      <% } %>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-secondary" href="/product/<%= product.id %>">
          View Details
        </a>
      </div>
      <small class="text-body-secondary">Min. Price: <%= product.minimum_price %></small>
    </div>
  </div>
</div>