<%- include('partials/header') %>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 mx-auto">
        <h1 class="fw-light"><%= categoryName %></h1>
        <p class="lead text-body-secondary">
          Short intro to the album contents.
        </p>
        <p>
          <% if (!isSoldView) { %>
          <a href="/category/<%= categoryId %>?sold=true" class="btn btn-outline-dark">See Sold <%= categoryName %></a>
          <% } else { %>
          <a href="/category/<%= categoryId %>" class="btn btn-outline-secondary">See Available <%= categoryName %></a>
          <% } %>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% if (products.length === 0) { %>
        <div class="col-12 text-center">
          <p class="lead">No products <%= isSoldView ? "sold" : "available" %> in this category yet.</p>
        </div>
        <% } else { %>
        <% products.forEach(product => { %>
        <div class="col">
          <%- include('partials/product-card', { product, isSoldView, imgStyle: "product-image", titleStyle: "product-span" }) %>
        </div>
        <% }); %>
        <% } %>
      </div>
    </div>
  </div>

  <% if (totalPages > 1) { %>
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %><%= isSoldView ? '&sold=true' : '' %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>

</main>

<%- include('partials/footer') %>