<%- include('partials/header') %>

    

    <!-- // Category Details \\ -->

    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 mx-auto">
            <h1 class="fw-light"><%= categoryName %></h1>
            <p class="lead text-body-secondary">
              Short intro to the album contents.
            </p>
            <p>
              <a href="/sold-category/<%= categoryId %>" class="btn btn-outline-dark">See Sold <%= categoryName %></a>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            

                <% nonSoldProducts.forEach(product => { %>
                  
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  >
                  <% if (product.image1) { %>
                    <img src="<%= product.image1 %>" alt="Image 1" style="height: 100%; width: 100%;" />
                  <% } else { %>
                    <rect fill="#55595c" width="100%" height="100%" />
                  <% } %>
                </svg>
                <div class="card-body">
                  <p class="card-text">
                    <%= product.name %>
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/category/<%= categoryId %>/product/<%= product.id %>">
                        View Details
                      </a>
                    </div>
                    <small class="text-body-secondary">Min. Price: <%= product.minimum_price %></small>
                  </div>
                </div>
              </div>
            </div>

            <% }); %>
            





          </div>
        </div>
      </div>
    </main>

    <!-- \\ Category Details // -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
