<%- include('partials/header') %>

<div class="container my-4">
  <div class="row align-items-center">
    <div class="col-md-4 mb-0 text-center">
      <img src="/profile/<%= profileId %>/profile-picture" alt="Profile Picture" class="img-fluid rounded-circle profile-picture" />
    </div>
    <div class="col-md-8">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex">
          <div class="fw-bold me-3 profile-data">Name:</div>
          <div><%= profileName %></div>
        </li>
        <li class="list-group-item d-flex">
          <div class="fw-bold me-3 profile-data">Email:</div>
          <div><%= profileEmail %></div>
        </li>
        <li class="list-group-item d-flex">
          <div class="fw-bold me-3 profile-data">Mobile:</div>
          <div><%= profileMobile %></div>
        </li>
      </ul>
    </div>
  </div>
  <hr class="my-4" />
</div>

<%- include('partials/product-section', {
  title: "Listed Products",
  description: isOwner ? "Products you are currently offering for sale." : "Products " + profileName + " is currently offering for sale.",
  products: unsoldProducts
}) %>

<% if (isOwner) { %>
<%- include('partials/product-section', {
    title: "Sold Products",
    description: "Products you have successfully sold to others.",
    products: soldProducts
  }) %>

<%- include('partials/product-section', {
    title: "Purchased Products",
    description: "Products you have bought from others.",
    products: buyedProducts
  }) %>

<%- include('partials/product-section', {
    title: "Pending Offers",
    description: "Products you have placed offers on, awaiting seller approval.",
    products: unbuyedProducts
  }) %>
<% } %>

<%- include('partials/footer') %>